{% load static %}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #F5F5F5!important;
}

.keyword-input-wrapper {
  border-collapse: separate;
  border: 2px solid #fe0000;
  border-radius: 8px;
  width: 100%;
  padding: 0px 15px 0px 15px;
}
.keyword-input-wrapper td:first-of-type {
  padding: 20px 15px 20px 15px;
  transition: width 1s, padding 1s;
}
.header-search-bar.active .keyword-input-wrapper td:first-of-type{
  padding: 15px 15px 15px 15px;
}
.keyword-input-wrapper td {
  border: none;
  transition: width 1s;
}
.keyword-input-wrapper input {
  line-height: 24px;
  font-size: 21px;
  border: none;
  outline: none;
  margin-bottom: 3px;
  width: 100%;
  background-color: transparent;
  transition: font-size 1s;
}
.header-search-bar.active .keyword-input-wrapper input{
  font-size: 18px;
}
.keyword-input-wrapper button {
  outline: none!important;
  padding-bottom: 5px;
  line-height: 22.5px;
  transition: width .5s, height .5s, font-size .5s, font-weight .5s, box-shadow .25s, -moz-box-shadow .25s, -webkit-box-shadow .25s;
}
.header-search-bar.active .keyword-input-wrapper button{
  width: 40px;
  height: 40px;
  font-size: 24px;
  font-weight: 800;
}
.operatorBtn {
  cursor: pointer;
  font-size: 30px;
  width: 45px;
  height: 45px;
  border: 2px solid #fe0000;
  padding-bottom: 10px;
  padding-top: 0px;
}
.addOperator {
  color: #fe0000;
  background-color: transparent;
  border-radius: 100px;
  transition: color 1s, background-color 1s, border-color 500ms, transform 500ms, box-shadow .25s, -moz-box-shadow .25s, -webkit-box-shadow .25s, width .5s, height .5s, font-size .5s, font-weight .5s!important;
}
.addOperator.active{
  background-color: #fe0000;
  color: white;
}
.addOperator.showDelete:hover{
  transform: rotate(-45deg);
  background-color: rgb(120, 198, 230);
  border-color: rgb(120, 198, 230);
}
.calcOperator {
  background-color: #fe0000;
  color: white;
  border-radius: 8px;
}
.secondInput {
  width: 0px;
  padding: 0px;
  cursor: text;
  position: relative;
}
.secondInput:not(.tdPadding) > input {
  width: 0px;
  padding: 0px;
}
.operatorContainer {
  width: 55px;
  padding: 0px 5px 0px 5px;
}
.tdPadding{
  padding: 20px 15px 20px 15px;
}

.header-search-bar.active .tdPadding{
  padding: 15px;
}

.firstInput{
  transition: padding 1s;
  cursor: text;
  position: relative;
}

.kk-hover-shadow{
  transition: box-shadow .25s, -moz-box-shadow .25s, -webkit-box-shadow .25s;
}

.kk-hover-shadow:hover {
  -webkit-box-shadow: 0 0 20px 0 rgba(68, 174, 216, 0.3);
  -moz-box-shadow: 0 0 20px 0 rgba(68, 174, 216, 0.3);
  box-shadow: 0 0 20px 0 rgba(68, 174, 216, 0.3);
}

.header-search-bar{
  background-color: #FCFCFC!important;
  width: 100%;
  height: 100vh;
  position: fixed;
  transition: all 0.5s;
  z-index: 100;
}

.header-search-bar.active{
  height: 180px;
  z-index: 100000;
}

.header-search-content{
  margin-top: calc( 45vh - 168px );
  transition: all 0.5s;
}

.header-search-bar.active .header-search-content{
  margin-top: 30px;
}

a {
  color: #00B7FF;
}

.demo-title{
  font-size: 40px;
  font-weight: 200;
  color: #fe0000;
  margin-bottom: 40px;
  transition: all 0.5s;
}

.header-search-bar.active .demo-title{
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 20px;
}

.keyword-input{
  outline: none;
  width: 100%;
  height: 50px;
  background-color: transparent;
  border: none;
  border-bottom: solid 2px #fe0000;
  padding-left: 195px;
  margin-bottom: 30px;
}

.bootstrap-tagsinput{
  height: 55px;
  border: none!important;
  background-color: transparent!important;
  border-radius: 0px!important;
  box-shadow: none!important;
  border-bottom: solid 2px #fe0000!important;
  width: 100%;
}

.bootstrap-tagsinput input{
  outline: none!important;
  height: 50px!important;
  background-color: transparent!important;
  border: none!important;
  margin-bottom: 30px!important;
}

.keyword-operator{
  -webkit-appearance: none;
  width: 70px;
  height: 37px;
  border-width: 2px;
  border-radius: 0px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  background-color: transparent;
  border-color: #fe0000;
  color: #fe0000;
  font-size: 21px;
  padding-left: 25px;
  cursor: pointer;
  outline: none;
  float: left;
  background-image: url({% static "images/down-arrow.svg" %});
  background-size: 10px;
  background-repeat: no-repeat;
  background-position-x: 45px;
  background-position-y: 14px;
}

.keyword-type{
  -webkit-appearance: none;
  width: 110px;
  height: 37px;
  border-width: 2px;
  border-radius: 0px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-color: #fe0000;
  background-color: #fe0000;
  padding-left: 25px;
  cursor: pointer;
  color: white;
  outline: none;
  background-image: url({% static "images/down-arrow-white.svg" %});
  background-size: 10px;
  background-repeat: no-repeat;
  background-position-x: 75px;
  background-position-y: 14px;
}

.keyword-input-selector{
  display: inline-block;
  position: absolute;
  margin-top: 4.5px;
}

.search-keyword-tag{
  background-color: #fe0000;
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 35px;
  padding-right: 35px;
  border-radius: 40px;
  color: white;
  margin-left: 15px;
}

.search-operator-tag{
  background-color: transparent;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 40px;
  color: #fe0000;
  border: 2px solid #fe0000;
  margin-left: 15px;
}

.list-container{
  width: 100%;
  padding: 15px,0px,15px,0px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  margin-top: -85px;
}
.list-container .list-item{
  width: calc( 100% );
  height: 85px;
  background-color: #FCFCFC;
  position: absolute;
  margin-top: 105px;
  opacity: 1;
  transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  z-index: 10;
}
.list-container .list-item.godown{
  opacity: 0.3!important;
  z-index: 0!important;
}
.list-container .list-item.goout{
  opacity: 0!important;
  z-index: 0!important;
}
.main-container{
  padding-top: 180px;
}
.tryit-area{
  background-color: #FCFCFC;
}
.song-table{
  width: 100%;
  height: 85px;
}
.rank-num{
  height: 55px;
  width: 85px;
}
.rank-num div{
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-right: 1px solid gray;
  margin-right: 15px;
}
.song-img{
  width: 70px;
}
.song-img img{
  height: 56px;
}
.song-info div:first-of-type{
  font-size: 18px;
}
.song-info div:last-of-type{
  font-size: 10px;
  color: gray;
}
.rank-change{
  width: 65px;
  padding-right: 15px;
  visibility: hidden;
}
.song-play{
  width: 50px;
  padding-right: 15px;
}
.tryit-area{
    margin-top: 20px;
    padding: 20px;
    overflow: hidden;
    transition: all 0.5s;
}
.tryit-area h4{
  font-size: 21px;
  font-weight: 400s;
}
.tryit-area h5{
  font-size: 15px;
  font-weight: 400;
  margin-top: 20px;
}
.change-size{
  transition: all 0.5s;
}
.song-rank{
  width: 65px;
  padding-right: 15px;
}
.song-rank>p{
  vertical-align: middle;
  display: table-cell;
  background-color: #CC6262;
  width: 40px;
  text-align: center;
  padding: 5px 0px 5px 0px;
  border-radius: 5px;
  color: white;
  font-size: 10px;
}
.song-rank>p.up{
  background-color: #60CC6A;
  background-image: url({% static 'images/arrow.svg' %});
  background-size: auto 10px;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 7px;
  padding-left: 9px;
}
.animate-loader{
  display: none;
  width: 100%;
  padding: 15px,0px,15px,0px;
  max-width: 1000px;
  margin: auto;
  position: relative;
  margin-top: -85px;
  opacity: 0;
  transition: opacity 1s;
}
.list-container .list-item:last-of-type{
  margin-bottom: 30px;
}
.animateObj{
	display: none;
  width: calc( 100% );
height: 85px;
background-color: lightgray;
transition: margin-top .5s;
position: absolute;
display: inline-block;
}
.animate-loader.loading{
  opacity: 1;
}
.song-rank>p.down{
  background-color: #CC6262;
  background-image: url({% static 'images/arrow-down.svg' %});
  background-size: auto 10px;
  background-repeat: no-repeat;
  background-position-y: 50%;
  background-position-x: 7px;
  padding-left: 9px;
}
.song-rank>p.same{
  background-color: gray;
}
.tryit-area img{
  height: 50px;
}
.tryit-area tr{
  height: 60px;
}
.tryit-area iframe{
  width: 100%;
  border: none;
  outline: none;
  height: 100px;
}
.tryit-area.not-show{
  width: 0px!important;
  padding-left: 0px;
  padding-right: 0px;
}
.history-info{
  padding-left: 5px;
}
.history-info .history-title{
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 10px;
}
.history-info .history-artist{
  margin-top: 0px;
  margin-bottom: 0px;
  color: gray;
  font-size: 10px;
}
.bootstrap-tagsinput .tag{
  padding: 5px;
  background-color: #fe0000;
}
.loader{
  background-image: url({% static 'images/loading-list.svg' %});
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255,0.8);
  z-index: 1000000;
  background-repeat: no-repeat;
  background-size: 200px;
  background-position: 50%;
  display: none;
}
.keywordType{
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 5px;
  position: absolute;
  color: white;
  right: 15px;
  border-radius: 4px;
  padding-left: 20px;
  background-size: auto 15px;
  background-repeat: no-repeat;
  background-position: center left 5px;
  background-color: #fe0000;
  background-image: url({% static "images/song.svg" %});
  display: none;
}
.keywordType.singer{
  padding-left: 25px;
  background-color: #D68D45;
  background-image: url({% static "images/singer.svg" %});
}
.jq-toast-loader{
  display: none!important;
}
.jq-toast-wrap{
  z-index: 10000000!important;
}
.jq-icon-error{
  z-index: 100000000;
  background-color: white;
  border: 1px solid #CC6262;
  color: rgb(204, 98, 98);
  -webkit-box-shadow: 0 0 40px 0 rgba(204, 98, 98, 0.1);
  -moz-box-shadow: 0 0 40px 0 rgba(204, 98, 98, 0.1);
  box-shadow: 0 0 40px 0 rgba(204, 98, 98, 0.1);
  background-image: url({% static "images/error.svg" %});
  background-size: 30px;
}
.no-result{
  position: fixed;
  width: 100%;
  top: calc( ( 100vh - 180px ) / 2 );
  text-align: center;
  display: none;
}
.no-result-block{
  display: inline-block;
  text-align: left;
  color: #fe0000;
  background-image: url({% static "images/not-found.svg" %});
  background-size: auto 80px;
  background-repeat: no-repeat;
  background-position: 30px 25px;
  padding: 15px 30px 20px 110px;
  border-radius: 8px;
  border: 2px solid #fe0000;
}
.no-result-block p:first-of-type{
  font-size: 48px;
  font-weight: 200;
  font-family: sans-serif;
}
.no-result-block p:last-of-type{
  margin-bottom: 0px;
}
.demo-logo{
  display: inline-block;
  height: 60px;
  margin-right: 15px;
  transition: height .5s, margin-right .5s;
}
.header-search-bar.active .demo-logo{
  height: 35px;
  margin-right: 10px;
}