{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Youtuber Recommendation</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/-->
  <!--link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/-->
  <link href={% static "css/materialize.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href={% static "css/style.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="white" role="navigation">
    <div class="nav-wrapper container">
	    <a id="logo-container" href="#" class="brand-logo"><img src={% static "images/youtubeicon.png" %} style="width: 60px;"/></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#">Navbar Link</a></li>
      </ul>

      <ul id="nav-mobile" class="sidenav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2">Youtuber Recommendation</h1>
        <div class="row center">
		<h5 class="header col s12 light"><input id="keyword" type="text" placeholder="Keyword...." style="background-color: white; padding-left: 10px; padding-right: 10px;"/></h5>
        </div>
        <div class="row center">
	  <button class="btn-large waves-effect waves-light teal lighten-1 operatorBtn calcOperator kk-hover-shadow">Start Searching</button>
        </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><img src={% static "images/background1.jpg" %} alt="Unsplashed background img 1"/></div>
  </div>


  <div class="container">
    <div class="col-md-12 offset-md-0 change-size" style="z-index: 1000;">
      <div class="list-container" style="height: 500px; display: none;">
	      <div class="movie_container">
		      <table class="movie_list">
			      <thead>
			      </thead>
			      <tbody>

			      </tbody>
		      </table>
	      </div>
	<!--div class="youtuber-list">
        <p class="youtuber youtuber1">
	  YOUTUBER_1
	  # of video: ########
	</p>
	<div class="videos">
	  <table class="video-list">
	    <tr>
	      <td class="youtuber1 video">
		VIDEO_1
	      </td>
	      <td class="youtuber1 video">
		VIDEO_2
	      </td>
	      <td class="youtuber1 video">
		VIDEO_3
	      </td>
	      <td class="youtuber1 video">
		VIDEO_4
	      </td>
	      <td class="youtuber1 video">
		VIDEO_5
	      </td>
	    </tr>
	  </table>
	</div>
	</div>
	<div class="youtuber-list">
        <p class="youtuber youtuber2">
	  YOUTUBER_2
	  # of video: ########
	</p>
	<div class="videos">
	  <table class="video-list">
	    <tr>
	      <td class="youtuber2 video">
		VIDEO_1
	      </td>
	      <td class="youtuber2 video">
		VIDEO_2
	      </td>
	      <td class="youtuber2 video">
		VIDEO_3
	      </td>
	      <td class="youtuber2 video">
		VIDEO_4
	      </td>
	      <td class="youtuber2 video">
		VIDEO_5
	      </td>
	    </tr>
	  </table>
	</div>
	</div>
	<div class="youtuber-list">
        <p class="youtuber youtuber3">
	  YOUTUBER_3
	  # of video: ########
	</p>
	<div class="videos">
	  <table class="video-list">
	    <tr>
	      <td class="youtuber3 video">
		VIDEO_1
	      </td>
	      <td class="youtuber3 video">
		VIDEO_2
	      </td>
	      <td class="youtuber3 video">
		VIDEO_3
	      </td>
	      <td class="youtuber3 video">
		VIDEO_4
	      </td>
	      <td class="youtuber3 video">
		VIDEO_5
	      </td>
	    </tr>
	  </table>
	</div>
	</div>
	<div class="youtuber-list">
        <p class="youtuber youtuber4">
	  YOUTUBER_4
	  # of video: ########
	</p>
	<div class="videos">
	  <table class="video-list">
	    <tr>
	      <td class="youtuber4 video">
		VIDEO_1
	      </td>
	      <td class="youtuber4 video">
		VIDEO_2
	      </td>
	      <td class="youtuber4 video">
		VIDEO_3
	      </td>
	      <td class="youtuber4 video">
		VIDEO_4
	      </td>
	      <td class="youtuber4 video">
		VIDEO_5
	      </td>
	    </tr>
	  </table>
	</div>
	</div>
	<div class="youtuber-list">
        <p class="youtuber youtuber5">
	  YOUTUBER_5
	  # of video: ########
	</p>
	<div class="videos">
	  <table class="video-list">
	    <tr>
	      <td class="youtuber5 video">
		VIDEO_1
	      </td>
	      <td class="youtuber5 video">
		VIDEO_2
	      </td>
	      <td class="youtuber5 video">
		VIDEO_3
	      </td>
	      <td class="youtuber5 video">
		VIDEO_4
	      </td>
	      <td class="youtuber5 video">
		VIDEO_5
	      </td>
	    </tr>
	  </table>
	</div>
	</div-->
      </div>
    </div>
  </div>


  <div id="intro" class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Purpose</h5>

            <p class="light">(The purpose of this recommendation system would be here....)</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">How To Work</h5>

	    <p class="light">(Here is how we implement this project....)</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Group Bio</h5>
	  <p class="grey-text text-lighten-4">We are a team of college students working on this recommendation project....(<strong>Not finish....</strong>)</p>


        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Members</h5>
          <ul>
            <li><a class="white-text" href="#!">LAI, Hong-Yi</a></li>
            <li><a class="white-text" href="#!">CHIANG, Mong-Hsun</a></li>
            <li><a class="white-text" href="#!">CHANG, Chi-Hung</a></li>
            <li><a class="white-text" href="#!">LIU, Shang-Chiuan</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src={% static "js/materialize.js" %}></script>
  <script src={% static "js/init.js" %}></script>

  </body>

	<script>
		$(document).ready(function(){
			$('.calcOperator').on('click', function(){
				$('#intro').slideUp('slow');
				$('.list-container').slideDown('slow');
				$('.row.center').animate({width: '50%'});
				//$('.section.no-pad-bot').addClass('active');
				$('.list-container').css('background-image', "url('static/images/loading-list.svg')", 'z-index: 1000000');
				
				var myVar = setInterval(function(){
					$('list-container').fadeOut(800).fadeIn(1000);
				}, 2000);

				$.post('/search/', {keyword: $('#keyword').val()}, (rtn) => {
					$.each(JSON.parse(rtn.result), (idx, val) => {
						$('.movie_list').append('<tr><td><iframe width="560" height="315" src="https://www.youtube.com/embed/'+ idx +'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td></tr>');
						clearInterval(myVar);
						$('list-container').fadeOut(500);
					});
				});
			});
		});

		$(function(){
			$('.youtuber1').on('click', function(){
				$('.youtuber1.video').slideToggle('slow');
				$('.youtuber2.video').slideUp('slow');
				$('.youtuber3.video').slideUp('slow');
				$('.youtuber4.video').slideUp('slow');
				$('.youtuber5.video').slideUp('slow');
			});
			$('.youtuber2').on('click', function(){
				$('.youtuber1.video').slideUp('slow');
				$('.youtuber2.video').slideToggle('slow');
				$('.youtuber3.video').slideUp('slow');
				$('.youtuber4.video').slideUp('slow');
				$('.youtuber5.video').slideUp('slow');
			});
			$('.youtuber3').on('click', function(){
				$('.youtuber1.video').slideUp('slow');
				$('.youtuber2.video').slideUp('slow');
				$('.youtuber3.video').slideToggle('slow');
				$('.youtuber4.video').slideUp('slow');
				$('.youtuber5.video').slideUp('slow');
			});
			$('.youtuber4').on('click', function(){
				$('.youtuber1.video').slideUp('slow');
				$('.youtuber2.video').slideUp('slow');
				$('.youtuber3.video').slideUp('slow');
				$('.youtuber4.video').slideToggle('slow');
				$('.youtuber5.video').slideUp('slow');
			});
			$('.youtuber5').on('click', function(){
				$('.youtuber1.video').slideUp('slow');
				$('.youtuber2.video').slideUp('slow');
				$('.youtuber3.video').slideUp('slow');
				$('.youtuber4.video').slideUp('slow');
				$('.youtuber5.video').slideToggle('slow');
			});
		});
	</script>
</html>
