{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title>Youtuber Recommendation</title>

		<!-- CSS  -->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href={% static "css/materialize.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>
		<link href={% static "css/style2.css" %} type="text/css" rel="stylesheet" media="screen,projection"/>
	</head>
	<body>
		<div class="white-background"></div>
		<div class="loader">
			<div class="preloader-wrapper big active">
				<div class="spinner-layer spinner-blue">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-red">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-yellow">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>

				<div class="spinner-layer spinner-green">
					<div class="circle-clipper left">
						<div class="circle"></div>
					</div><div class="gap-patch">
						<div class="circle"></div>
					</div><div class="circle-clipper right">
						<div class="circle"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="white-background"></div>
		<div class="detail">
			<div class="YTer1"></div>
			<div class="YTer2"></div>
			<div class="YTer3"></div>
			<div class="YTer4"></div>
			<div class="YTer5"></div>
		</div>

		<div id="index-banner" class="parallax-container">
			<div class="section no-pad-bot">
				<div class="container">
					<br><br>
					<h1 class="header center golden">Youtuber Recommendation</h1>
					<!--h1 class="header center teal-text text-lighten-2">Youtuber Recommendation</h1-->
					<div class="row center">
						<h5 class="header col s12 light"><input id="keyword" type="text" placeholder="Keyword...." style="background-color: white; padding-left: 10px; padding-right: 10px;"/></h5>
					</div>
					<div class="row center">
						<button class="btn-large waves-effect waves-light teal lighten-1 operatorBtn calcOperator kk-hover-shadow">Start Searching</button>
					</div>
					<br><br>

				</div>
			</div>
			<div class="parallax"><img src={% static "images/background4.jpg" %} alt="Unsplashed background img 1"/></div>
		</div>


		<div class="container">
			<div class="col-md-12 offset-md-0 change-size" style="z-index: 1000;">
				<div class="list-container">

				</div>
				<div class="debug"></div>
			</div>
		</div>


		<footer class="page-footer teal">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="golden">Group Bio</h5>
						<p class="golden text-lighten-4">We are a team of college students working on this recommendation project....(<strong>Not finish....</strong>)</p>


					</div>
					<div class="col l3 s12">
						<h5 class="golden">Members</h5>
						<ul>
							<li><a class="golden" href="#!">LAI, Hong-Yi</a></li>
							<li><a class="golden" href="#!">CHIANG, Mong-Hsun</a></li>
							<li><a class="golden" href="#!">CHANG, Chi-Hung</a></li>
							<li><a class="golden" href="#!">LIU, Shang-Chiuan</a></li>
						</ul>
					</div>
					<div class="col l3 s12">
						<h5 class="golden">Connect</h5>
						<ul>
							<li><a class="golden" href="#!">Link 1</a></li>
							<li><a class="golden" href="#!">Link 2</a></li>
							<li><a class="golden" href="#!">Link 3</a></li>
							<li><a class="golden" href="#!">Link 4</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container">
					Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
				</div>
			</div>
		</footer>


		<!--  Scripts-->
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src={% static "js/materialize.js" %}></script>
		<script src={% static "js/init.js" %}></script>

	</body>

	<script>
		// mouse touch
		$('.calcOperator').hover(function(){
			$(this).stop().animate({'opacity': 0.5});
		}, function(){
			$(this).stop().animate({'opacity': 1});
		});

$(document).ready(function(){
	$('.calcOperator').click(function(){
		$('.row.center').animate({width: '50%'});
		$('.list-container').slideUp('slow');
		$('.list-container').empty();
		$('.detail .YTer1').empty();
		$('.detail .YTer2').empty();
		$('.detail .YTer3').empty();
		$('.detail .YTer4').empty();
		$('.detail .YTer5').empty();
		$('.loader').fadeIn(500);
		$('.white-background').fadeIn(500);

		$.post('/search/', {keyword: $('#keyword').val()}, (rtn) => {
			var count = 0;
			$.each(JSON.parse(rtn.result), function(idx, val){
				count = count + 1;
				$('.list-container').append('<div class="youtuber-list"><div class="youtuber' + count + ' photo"></div><p class="youtuber youtuber' + count + '">' + idx + '</p><div class="subscriber">' + Object.values(val.info)[1] + '</div>');
				$('.youtuber' + count + '.photo').append('<img src="' + Object.values(val.info)[2] + '" />');
				$('.detail .YTer' + count).append('<div class="youtuber' + count + ' description">' + Object.values(val.info)[0] + '</div><div class="videos' + count + '"><ul class="video' + count + '"></ul></div><div class="btn btn-left"><</div><div class="btn btn-right">></div>');
				$.each(Object.values(val.movie).map(item => item.movie_id), function(index, movie){
					$('.video' + count).append('<li><iframe width="100%" height="450" src="https://www.youtube.com/embed/' + movie + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>');
					return (index < 9);
				});
				return (count < 5);
			});

			$('.list-container').slideDown('slow');
			$('.loader').fadeOut(500);
			$('.white-background').fadeOut(500);
		});
	});
});
$(document).ready(function(){
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber1', function(){
		$('.detail .YTer1').css('display', 'block');
		$('.detail .YTer2').css('display', 'none');
		$('.detail .YTer3').css('display', 'none');
		$('.detail .YTer4').css('display', 'none');
		$('.detail .YTer5').css('display', 'none');
		$('.detail').fadeIn(500);
		$('.white-background').fadeIn(500);
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber2', function(){
		$('.detail .YTer1').css('display', 'none');
		$('.detail .YTer2').css('display', 'block');
		$('.detail .YTer3').css('display', 'none');
		$('.detail .YTer4').css('display', 'none');
		$('.detail .YTer5').css('display', 'none');
		$('.detail').fadeIn(500);
		$('.white-background').fadeIn(500);
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber3', function(){
		$('.detail .YTer1').css('display', 'none');
		$('.detail .YTer2').css('display', 'none');
		$('.detail .YTer3').css('display', 'block');
		$('.detail .YTer4').css('display', 'none');
		$('.detail .YTer5').css('display', 'none');
		$('.detail').fadeIn(500);
		$('.white-background').fadeIn(500);
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber4', function(){
		$('.detail .YTer1').css('display', 'none');
		$('.detail .YTer2').css('display', 'none');
		$('.detail .YTer3').css('display', 'none');
		$('.detail .YTer4').css('display', 'block');
		$('.detail .YTer5').css('display', 'none');
		$('.detail').fadeIn(500);
		$('.white-background').fadeIn(500);
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber5', function(){
		$('.detail .YTer1').css('display', 'none');
		$('.detail .YTer2').css('display', 'none');
		$('.detail .YTer3').css('display', 'none');
		$('.detail .YTer4').css('display', 'none');
		$('.detail .YTer5').css('display', 'block');
		$('.detail').fadeIn(500);
		$('.white-background').fadeIn(500);
	});
});
$(document).keyup(function(event){
	switch(event.keyCode){
		case 27:
			$('.detail').fadeOut(500);
			$('.white-background').fadeOut(500);
	}
});
/*
$(document).ready(function(){
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber1', function(){
		$('.youtuber1.video').slideToggle('slow');
//$('.youtuber1.video').css('display', 'inline');
//$('.youtuber1 .btn').css('display', 'block');
		$('.youtuber2.video').slideUp('slow');
		$('.youtuber3.video').slideUp('slow');
		$('.youtuber4.video').slideUp('slow');
		$('.youtuber5.video').slideUp('slow');
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber2', function(){
		$('.youtuber1.video').slideUp('slow');
		$('.youtuber2.video').slideToggle('slow');
		$('.youtuber3.video').slideUp('slow');
		$('.youtuber4.video').slideUp('slow');
		$('.youtuber5.video').slideUp('slow');
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber3', function(){
		$('.youtuber1.video').slideUp('slow');
		$('.youtuber2.video').slideUp('slow');
		$('.youtuber3.video').slideToggle('slow');
		$('.youtuber4.video').slideUp('slow');
		$('.youtuber5.video').slideUp('slow');
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber4', function(){
		$('.youtuber1.video').slideUp('slow');
		$('.youtuber2.video').slideUp('slow');
		$('.youtuber3.video').slideUp('slow');
		$('.youtuber4.video').slideToggle('slow');
		$('.youtuber5.video').slideUp('slow');
	});
	$('.list-container').on('click', '.youtuber-list .youtuber.youtuber5', function(){
		$('.youtuber1.video').slideUp('slow');
		$('.youtuber2.video').slideUp('slow');
		$('.youtuber3.video').slideUp('slow');
		$('.youtuber4.video').slideUp('slow');
		$('.youtuber5.video').slideToggle('slow');
	});
});
 */
$(document).ready(function(){
	var liW = $(".video1 li").width();
	//var liW = $("li").width();
	var len = $(".video1 li").length;
	//var len = $('li').length;
	var ulW = len*liW;
	$(".YTer1 .videos1 .video1").css("width",ulW);
	var index = 0;
	$(".YTer1").on("click", ".btn-left", function(){
		index--;
		alert('width: ' + liW);
		if(index == -1){
			index = len - 1;
		}
		showLi(index);
	})
	$(".YTer1").on("click", ".btn-right", function(){
		index++;
		alert('length: ' + len);
		if(index == len){
			index = 0;
		}
		showLi(index);
	})

	function showLi(index){
		var move = -index * liW
		$(".video1").stop().animate({"left":move},300)
	}
});
	</script>
</html>
