{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Youtuber Recommendation</title>
	{% include './layout/include_header.ejs' %}
    <link rel='stylesheet' href={% static 'css/web/style.css' %} />
  </head>
  <body>
    <div class="loader"></div>
    <div class="header-search-bar container-fluid">
      <div class="container header-search-content">
        <h5 class="demo-title"><img class="demo-logo" src={% static "images/youtubeicon.png" %}/>Youtuber Recommendation</h5>
        <div class="keyword-input-selector" style="display: none;">
          <select class="keyword-operator">
            <option value="plus">+</option>
            <option value="minus">-</option>
          </select>
          <select class="keyword-type">
            <option value="singer">歌手</option>
            <option value="song">歌名</option>
            <option value="album">專輯</option>
          </select>
        </div>
        <!--
        <input class="keyword-input" type="text" data-role="tagsinput"></input>
        -->
        <table class="keyword-input-wrapper">
          <tr>
              <td class="firstInput"><p class="keywordType"></p><input id="keyword" type="text" placeholder="keyword..."/></td>
              <td class="secondInput"><p class="keywordType"></p><input type="text" placeholder="keyword..."/></td>
              <td class="operatorContainer"><button class="operatorBtn calcOperator kk-hover-shadow">=</button></td>
          </tr>
        </table>
        <div class="movie_container">
          <table class="movie_list">
            <thead>
            </thead>
            <tbody>

            </tbody>
          </table>
        </div>
        <!--
        <input class="keyword-input" type="text" placeholder="請輸入關鍵字..."></input>
        <font class="se-area">Search Expression =</font>
      -->
      </div>
    </div>
    <div class="no-result">
      <div class="no-result-block">
        <p>Sorry,</p>
        <p>no results were found for your search.</p>
      </div>
    </div>
    <div class="container main-container">
      <div class="row">
        <div class="col-md-3 tryit-area not-show" style="position: fixed;width: 255px;"><!-- width 255px -->
          <div style="width: 225px;">
            <h4>Try It!</h4>
            <iframe src="https://widget.kkbox.com/v1/?id=Pa0NfMzqWKr80xUY_N&type=song&terr=JP&lang=JA"></iframe>
            <h5>History</h5>
            <table class="play-history-table">
            </table>
          </div>
        </div>
        <div class="col-md-12 offset-md-0 change-size" style="z-index: 1000;">
          <div class="list-container">

          </div>

        </div>
      </div>
    </div>
  </body>
  <script>
  $(document).ready(function(){
      $('.calcOperator').on('click',function(){
        $.post('/search/', {keyword: $('#keyword').val()}, (rtn) => {
          $.each(JSON.parse(rtn.result), (idx, val) => {
            $('.movie_list').append('<tr><td><iframe width="560" height="315" src="https://www.youtube.com/embed/'+ idx +'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></td></tr>');
          });
        })
      });
  });

  </script>
  
</html>
